<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Home  <!--Application Heigth :: {{appMinHeight}}-->
    <small>Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>




<!-- Main content -->
<section class="content" ng-controller="HeaderController">



  <!-- Small boxes (Stat box) -->
  <div class="row">


<!--
    <div class="col-lg-3 col-xs-6">
      &lt;!&ndash; small box &ndash;&gt;
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>0</h3>
          <p>{{menu.items[0].title}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href ui-sref="{{menu.items[0].items[0].state}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    -->
    <!-- ./col -->



    <div class="col-lg-3 col-xs-6" ng-repeat="dynamicModule in dynamicModules">
      <!-- small box -->
      <div class="small-box" ng-class="getClass($index, menu.items)">
        <div class="inner">
          <h3>{{dynamicModule.noOfDynamicModuleDatas}}</h3>
          <p>{{dynamicModule.moduleName}}s Created</p>
        </div>
        <div class="icon">
          <i class="fa fa-star-half-o"></i>
        </div>
        <a href ui-sref="dynamicmoduledata.list({ dynamicModuleId: dynamicModule._id })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->




    </div>


</section>
<!-- /.content -->
