
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Chat

    <small>Live Chat with your friends</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Live Chat</li>
  </ol>
</section>


<!-- The chat view -->
<section class="content">


  <p ng-repeat="message in vm.messages | orderBy: '-created':true">


  </p>

  <div class="row">

    <div class="col-md-offset-3 col-md-6">

  <!-- DIRECT CHAT PRIMARY -->
  <div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
      <i class="fa fa-comments-o"></i>
      <h3 class="box-title">Chat</h3>

      <!--
      <div class="box-tools pull-right">
        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
          <i class="fa fa-comments"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
      -->

    </div>
    <!-- /.box-header -->
    <div class="box-body">



      <!-- Conversations are loaded here -->
      <div class="direct-chat-messages">


        <!-- Message. Default to the left -->
        <div class="direct-chat-msg" ng-repeat="message in vm.messages | orderBy: '-created':true" ng-class="{right: vm.currentUsername === message.username}">



          <div class="direct-chat-info clearfix">
            <span class="direct-chat-name" ng-class="{'pull-right' : vm.currentUsername === message.username, 'pull-left' : vm.currentUsername !== message.username}">{{::message.username}}</span>
            <span class="direct-chat-timestamp" ng-class="{'pull-right' : vm.currentUsername !== message.username, 'pull-left' : vm.currentUsername === message.username}"><i class="fa fa-clock-o"></i> {{message.created | date:'mediumTime'}}</span>
          </div>
          <!-- /.direct-chat-info -->





          <img class="direct-chat-img" ng-src="{{message.profileImageURL}}" alt="{{message.username}}" ><!-- /.direct-chat-img -->
          <div class="direct-chat-text">
            {{::message.text}}
          </div>
          <!-- /.direct-chat-text -->
        </div>
        <!-- /.direct-chat-msg -->


      </div>
      <!--/.direct-chat-messages-->


    </div>
    <!-- /.box-body -->
    <div class="box-footer">

      <form ng-submit="vm.sendMessage();">
        <div class="input-group">
          <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="Type message..." autocomplete="off">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-flat" ng-disabled="!vm.messageText.length">Send</button>
          </span>
        </div>
      </form>
    </div>
    <!-- /.box-footer-->
  </div>
  <!--/.direct-chat -->


    </div>

  </div>



</section>
