<div class="jbody login-page">

<div class="login-box" ng-controller="AuthenticationController">
  <div class="login-logo">
    <i class="fa fa-star-half-o"></i> <b>Super</b>NODE
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your application</p>

    <form name="userForm" ng-submit="signin(userForm.$valid)" novalidate autocomplete="off">
      <div class="form-group has-feedback">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="username" lowercase required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>

        <div ng-messages="userForm.username.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Username is required.</p>
        </div>


      </div>
      <div class="form-group has-feedback">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

        <div ng-messages="userForm.password.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Password is required.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-8">
          <!--
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
          -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>


    <uib-alert type="danger" ng-show="error" class="text-center text-danger">
      <span ng-bind="error"></span>
    </uib-alert>


<!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    -->
    <!-- /.social-auth-links -->

    <a ui-sref="password.forgot">I Forgot My password</a><br>
    <a ui-sref="authentication.signup" class="text-center">Create a New Account</a>

    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

</div>

